<div *ngIf="hero">
    <div>
        <h2>{{hero.name | uppercase}} Details</h2>
        <div>
            <span>id: </span>{{hero.id}}
        </div>
        <div>
            <label for="heroName">Name:</label>
            <input name="heroName" [(ngModel)]="hero.name" placeholder="name" />
        </div>
    </div>
    <div>
        <br/>
        <label>Powers:</label>

        <ul class="heroes" *ngIf="hero.powers?.length; else noHeroPowers">
            <li *ngFor="let power of hero.powers">
                <a routerLink="/powerDetail/{{power.id}}">
                    <span class="badge">{{power.id}}</span> {{power.name}}
                </a>

                <button class="delete" title="delete power" (click)="deleteHeroPower(power)">x</button>
            </li>
        </ul>

        <ng-template #noHeroPowers>
            <div>
                <br/><br/>
                {{hero.name}} has no powers.
                <br/><br/><br/>
            </div>
        </ng-template>
    </div>
    <div>
        <label for="addPower">Available Powers: </label>
        <select *ngIf="powers?.length; else noPowers" [(ngModel)]="powerSelect">
            <option selected disabled hidden></option>
            <option *ngFor="let power of powers" [ngValue]="power">
                {{power.name}}
            </option>
        </select>

        &nbsp;
        <button *ngIf="powerSelect" (click)="addHeroPower(powerSelect); powerSelect = ''">Add Power</button>

        <ng-template #noPowers>
            <div>There are no more powers available.</div>
        </ng-template>

    </div>
    <br/><br/>
    <button (click)="goBack()">go back</button> &nbsp;
    <button (click)="save()">save</button>
</div>