<div *ngIf="hero">
    <div>
        <h2>{{hero.name | uppercase}} Details</h2>
        <div>
            <span>id: </span>{{hero.id}}
        </div>
        <div>
            <label for="heroName">Name:</label>
            <input name="heroName" [(ngModel)]="hero.name" placeholder="name" />
        </div>
    </div>
    <div>
        <label>Powers:</label>
        <ul *ngIf="hero.powers?.length; else noHeroPowers">
            <li *ngFor="let power of hero.powers">
                <a [routerLink]="" (click)="deleteHeroPower(power)">{{power.name}}</a>
            </li>
        </ul>
        <ng-template #noHeroPowers>
            <div>{{hero.name}} has no powers.</div>
        </ng-template>
    </div>
    <div>
        <label for="addPower">Available Powers: </label>
        <select *ngIf="powers?.length; else noPowers" [(ngModel)]="powerSelect">
            <option selected disabled hidden></option>
            <option *ngFor="let power of powers" [ngValue]="power">
                {{power.name}}
            </option>
        </select>
        <ng-template #noPowers>
            <div>There are no powers available.</div>
        </ng-template>
        <div>
            <button *ngIf="powerSelect" (click)="addHeroPower(powerSelect); powerSelect = ''">Add Power</button>
        </div>
    </div>
    <button (click)="goBack()">go back</button> &nbsp;
    <button (click)="save()">save</button>
</div>